OPENROUTER_API_KEY=

# ---------------------------------
# API Endpoints
# ---------------------------------
# API Base URL
API_BASE_URL=https://api.***********

# API Endpoints (company_id will be inserted dynamically)
API_DB_SETTINGS=https://api.***********/DbSetting/company/{company_id}
API_TEAMS=https://api.***********/Team/company/{company_id}/for-ai-model
# ---------------------------------
# API Credentials
# ---------------------------------
API_EMAIL=
API_PASSWORD=

# ---------------------------------
# Vector Database Credentials
# ---------------------------------
VECTOR_DB_HOST=
VECTOR_DB_USER=
VECTOR_DB_PASSWORD=
VECTOR_DB_NAME=

# ---------------------------------
# LLM Configuration
# ---------------------------------
LLM_MODEL_NAME=mistralai/mistral-7b-instruct-v0.1