OPENROUTER_API_KEY=

# ---------------------------------
# LLM Configuration
# ---------------------------------
CREWAI_LLM_MODEL=openrouter/minimax/minimax-m2:free
LANGGRAPH_LLM_MODEL=minimax/minimax-m2:free
BASE_URL=https://openrouter.ai/api/v1

# ---------------------------------
# API Endpoints
# ---------------------------------
API_GETDATA=https://apirecomind.azurewebsites.net/api/DatabaseSettings/GetDatabaseSetting
API_LOGIN=https://apirecomind.azurewebsites.net/api/Authenticate/Login

# ---------------------------------
# API Credentials
# ---------------------------------
API_EMAIL=
API_PASSWORD=

# ---------------------------------
# Vector Database Credentials
# ---------------------------------
VECTOR_DB_HOST=
VECTOR_DB_USER=
VECTOR_DB_PASSWORD=
VECTOR_DB_NAME=